
.pesquisa {
	width: 100%;
	display: inline-block;
	margin: 200px auto;
	text-align: center;
	transition: 300ms;
}

.pesquisa.translate{
	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);
	margin-bottom: 20px;
	margin-top: 0px;
}

.pesquisa button{margin: 0;}
.pesquisa input[type="text"]{width: 500px;}

select{ padding: 8px;display: none;}
input[name="metodo"]:checked + select{
	display: inline-block;
}

.primary{
	background-color: #FFD44F;
	color: #fff;
}

.result p{font-size: .8em;}
.result{
	margin: 0 auto;
	opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.show{opacity: 1;}

.item{margin: 20px 0;}
.item::after{
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	background: currentColor;
}

.radio{
	width: 10px;
	margin: 10px;
	padding: 0px;
}

.content{	margin: 10px auto;}
.content h3{ font-weight: bold; }
.content h1{ font-weight: bold; font-size: 1.5em; }
.content p{
	text-align: justify;
	font-family: Times;
	font-size: 1.3em;
}

h2{font-size: 1em; }
h3{font-size: .9em; font-weight: normal;}
h4{font-size: .9em; font-weight: normal;}
p{font-size:  1em;}
a{text-decoration: none; outline: none; color: #000; margin: 0px;}

*{font-family: sans-serif; margin: 5px;}

input[type="text"]{
	padding: 10px;
	border: solid 1px #ccc;
	box-shadow: 1px 1px 10px #ccc;
	border-radius: 3px;
	font-size: 1em;
}

button{
	padding: 10px;
	border-radius: 3px;
	border: none;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.1em;
	
}

button:hover{box-shadow: 1px 1px 10px #ccc;background-color: #242424; transition: all .2s;}
button:focus{box-shadow: 1px 1px 10px #ccc;background-color: #242424; }
button:active{box-shadow: 1px 1px 10px #ccc;opacity: .6; transition: all .2s;}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}


/*GRID*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

img{
	width:200px;
	position: absolute;
	left:50%;
	margin-left: -100px;
}
.alertInput{
	color: red;
	font-weight: 500;
	display: none;
}
.alertInput-active{
	display: inline;
}