<!DOCTYPE html>
<html>
<head>
	<title>Recuperação da Informação</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"></link>
</head>
<body>
	<div class="col-12">
		<div class="pesquisa">
			<input type="text" name="search">
			<button class="primary" onclick="pesquisar()">Pesquisar</button>
		</div>
	</div>
	<div class="col-8 result">
	{% for doc in docs %}
		<div class="item">
			<a href="#">
				<h2 id="titulo" >		Título: {{ doc[0] }}		</h2>
				<h3 id="autor">			Autor: {{ doc[1] }}			</h3>
				<p id="descricao">	Descrição: {{ doc[2] }}	</p>
			</a>
		</div>
	{% endfor %}
	</div>
	<script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script>
<body>
</html>
