<!DOCTYPE html>
<html>
<head>
	<title>Recuperação da Informação</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"></link>
</head>
<body>
<img src="/static/img/logo.png" alt="">
	<div class="col-12">
		<form action="/search" method="GET">
			<div class="pesquisa">
				<input class="search-input" type="text" name="search"/>
				
				<button class="primary" type="submit" onclick="inputCheck()">Pesquisar</button>
				</br>
					<span class="alertInput">Campo Vazio</span>
				</br>
				<input type="radio" name="metodo" value="Vetorial" checked/>Vetorial</input>
				<input class="trigger-input" type="radio" name="metodo" value="Booleano"/>Booleano
					<select name="tipo">
						<option value="AND"> AND </option>
						<option value="OR"> OR </option>
					</select>
				
				
			</div>
		</form>
		
	</div>
<body>
<script src="/static/events.js" type="application/javascript"></script>

</html>
